In [1]:
import pandas as pd
import matplotlib.pyplot as plt

import pipeline as p
%load_ext autoreload
%autoreload 2

# f = "Data/SEER_1973_2015_TEXTDATA/incidence/yr2000_2015.ca_ky_lo_nj_ga/BREAST.TXT"
f = "Data/BREAST.TXT"
df = pd.read_csv(f, header=None)

# f2 = "Data/SEER_1973_2015_TEXTDATA/incidence/yr2005.lo_2nd_half/BREAST.TXT"
f2 = "Data/BREAST2.TXT"
df2 = pd.read_csv(f2, header=None)

df = pd.concat([df, df2])

df.iloc[1,0]

'925000100000001544102 020491958   00022008C50228500385003211        0126                       0501002500001002000198798703098820110033331  0104000205500205505590   0         01             210     260001742C502      1161023 09980132202        134005    260002600040236991033011258                   00761     2            20100033         99     8          0100'

In [4]:
# f_sas = "Data/SEER_1973_2015_TEXTDATA/incidence/read.seer.research.nov17.sas"
f_sas = "Data/read.seer.research.nov17.sas"


f_list = []
with open(f_sas) as f:
    for line in f:
        f_list.append(line.strip())

decode = []
col_names = []
col_descr_dict = {}
for x in f_list:
    if x.startswith('@'):
        start = int(x[2:5])
        str_len = int(x.split('char')[1][:2].strip('.'))
        var_name = x[6:26].strip()
        col_names.append(var_name)
        descr = x.split('*')[1]
        descr = descr.strip()
        
        decode.append([start, str_len, var_name, descr])
        col_descr_dict[descr.upper()] = var_name
        

df_data = []

for j in range(0,len(df)):
    entry_list = []
    entry = df.iloc[j,0]
    for i in range(len(decode)):
        start = decode[i][0]
        str_len = decode[i][1]
        entry_list.append(entry[start-1:start+str_len-1])
    df_data.append(entry_list)

df3 = pd.DataFrame(data=df_data, columns=col_names)

In [5]:
df3.iloc[:2, :10]

,PUBCSNUM,REG,MAR_STAT,RACE1V,NHIADE,SEX,AGE_DX,YR_BRTH,SEQ_NUM,MDXRECMP
0,92500005,0000001544,2,01,0,2,045,1962,00,01
1,92500010,0000001544,1,02,0,2,049,1958,00,02

In [6]:
df3.shape

(592051, 133)

In [16]:
p.pkl_this('Data/breast_2000-2015_df.pkl', df3)
p.pkl_this('Data/col_descr_dict.pkl', col_descr_dict)